<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
 <servlet>
  <servlet-name>AdminLoginServ</servlet-name>
  <display-name>AdminLoginServ</display-name>
  <description></description>
  <servlet-class>com.training.AdminLoginServ</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>AllInterviewStatusServ</servlet-name>
  <display-name>AllInterviewStatusServ</display-name>
  <description></description>
  <servlet-class>com.training.AllInterviewStatusServ</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>AttendInterviewServ</servlet-name>
  <display-name>AttendInterviewServ</display-name>
  <description></description>
  <servlet-class>com.training.AttendInterviewServ</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ChangeGradeServ</servlet-name>
  <display-name>ChangeGradeServ</display-name>
  <description></description>
  <servlet-class>com.training.ChangeGradeServ</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>CompanyDetailsServ</servlet-name>
  <display-name>CompanyDetailsServ</display-name>
  <description></description>
  <servlet-class>com.training.CompanyDetailsServ</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>CourseDetailsServ</servlet-name>
  <display-name>CourseDetailsServ</display-name>
  <description></description>
  <servlet-class>com.training.CourseDetailsServ</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>CourseEnrollmentServ</servlet-name>
  <display-name>CourseEnrollmentServ</display-name>
  <description></description>
  <servlet-class>com.training.CourseEnrollmentServ</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>CourseJoinServ</servlet-name>
  <display-name>CourseJoinServ</display-name>
  <description></description>
  <servlet-class>com.training.CourseJoinServ</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>InterviewScheduleServ</servlet-name>
  <display-name>InterviewScheduleServ</display-name>
  <description></description>
  <servlet-class>com.training.InterviewScheduleServ</servlet-class>
  </servlet>
   <servlet>
  <servlet-name>LoginServ</servlet-name>
  <display-name>LoginServ</display-name>
  <description></description>
  <servlet-class>com.training.LoginServ</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>RegistrationServ</servlet-name>
  <display-name>RegistrationServ</display-name>
  <description></description>
  <servlet-class>com.training.RegistrationServ</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>SearchByStatusServ</servlet-name>
  <display-name>SearchByStatusServ</display-name>
  <description></description>
  <servlet-class>com.training.SearchByStatusServ</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>TrainerDetailsServ</servlet-name>
  <display-name>TrainerDetailsServ</display-name>
  <description></description>
  <servlet-class>com.training.TrainerDetailsServ</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>UpdateInterviewStatusServ</servlet-name>
  <display-name>UpdateInterviewStatusServ</display-name>
  <description></description>
  <servlet-class>com.training.UpdateInterviewStatusServ</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>UserCourseServ</servlet-name>
  <display-name>UserCourseServ</display-name>
  <description></description>
  <servlet-class>com.training.UserCourseServ</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ViewGradeServ</servlet-name>
  <display-name>ViewGradeServ</display-name>
  <description></description>
  <servlet-class>com.training.ViewGradeServ</servlet-class>
  </servlet>
  <servlet>
  <servlet-name>ViewInterviewStatusServ</servlet-name>
  <display-name>ViewInterviewStatusServ</display-name>
  <description></description>
  <servlet-class>com.training.ViewInterviewStatusServ</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>AdminLoginServ</servlet-name>
  <url-pattern>/AdminLoginServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>AllInterviewStatusServ</servlet-name>
  <url-pattern>/AllInterviewStatusServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>AttendInterviewServ</servlet-name>
  <url-pattern>/AttendInterviewServ</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  <servlet-name>ChangeGradeServ</servlet-name>
  <url-pattern>/ChangeGradeServ</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  <servlet-name>CompanyDetailsServ</servlet-name>
  <url-pattern>/CompanyDetailsServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>CourseDetailsServ</servlet-name>
  <url-pattern>/CourseDetailsServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>CourseEnrollmentServ</servlet-name>
  <url-pattern>/CourseEnrollmentServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>CourseJoinServ</servlet-name>
  <url-pattern>/CourseJoinServ</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  <servlet-name>InterviewScheduleServ</servlet-name>
  <url-pattern>/InterviewScheduleServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>LoginServ</servlet-name>
  <url-pattern>/LoginServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>RegistrationServ</servlet-name>
  <url-pattern>/RegistrationServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>SearchByStatusServ</servlet-name>
  <url-pattern>/SearchByStatusServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>TrainerDetailsServ</servlet-name>
  <url-pattern>/TrainerDetailsServ</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  <servlet-name>UpdateInterviewStatusServ</servlet-name>
  <url-pattern>/UpdateInterviewStatusServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>UserCourseServ</servlet-name>
  <url-pattern>/UserCourseServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>ViewGradeServ</servlet-name>
  <url-pattern>/ViewGradeServ</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  <servlet-name>ViewInterviewStatusServ</servlet-name>
  <url-pattern>/ViewInterviewStatusServ</url-pattern>
  </servlet-mapping>
  </web-app>